@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer components {
  .input-form {
    @apply w-10/12 h-7 bg-white border-none rounded-md pl-2;
  };

  .btn-form{
    @apply bg-secondy-dark text-white rounded-md flex justify-center items-center border-0 hover:bg-gray transition-all duration-300
  };
}